{% extends 'base.html' %}

{% block titke %}About{% endblock titke %}

{% block body %}

<div>
  <h1>Overview</h1>
  <p>
    Treat Ice Cream was won by taste, innovation and quality. It’s a difference you can taste. Which is why we are so loved by our fans and continue to make new ones? Keeping with the times and changing tastes of customers, Treat Ice Cream, as an ice cream brand has come a long way. Fast moving ahead with its path-breaking innovations, strategic roadmap and fruitful partnerships, Treat is all set to become Central India's most loved
  </p>
</div>
{% endblock body %}

